.nav-buttons {
    /* isto fez com que não fosse possível alinhar os itens da nav totalmente a direita*/
    margin-left: 60%;
}

.footer-logo img {
    width: 50%;
}

.link-escuro {
    color: #ccc;
    text-decoration: none;
}

.link-escuro:hover {
    color: #fff;
}

#home {
    background-image: url('../imgs/back.jpg');
    background-size: cover;
    background-position-y: 0px;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}